.env
node_modules/
dist/
.vscode/
.DS_Store
coverage/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.idea/
*.log
*.tsbuildinfo
/build/
/out/
.cache/ 
*.local
*.swp
*.swo
*.bak
*.tmp
*.old
*.orig
*.rej
*.class
go-boilerplate/
GUIA_ARQUITECTURA.md
README.md
ANALISE_BACKEND.md
*.sql